lab/zero-hunger-node-red-flows.json
[{"id":"88f72503.c1d3d8","type":"tab","label":"Data Flow","disabled":false,"info":""},{"id":"f9cb4e1f.49d58","type":"tab","label":"Interfaces","disabled":false,"info":""},{"id":"4c5f72d.4b35f8c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d38f81c1.07894","type":"ui_group","name":"Dashboard","tab":"9dab1362.23e0b","order":1,"disp":false,"width":"12","collapse":false},{"id":"9dab1362.23e0b","type":"ui_tab","name":"Solution Starter Kit Hunger 2021","icon":"dashboard","disabled":false,"hidden":false},{"id":"92ee2fa5.8c85b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec617216.ee47b","type":"ui_group","name":"Weather","tab":"9dab1362.23e0b","order":2,"disp":false,"width":"12","collapse":false},{"id":"4b15af72.7c5fc","type":"ui_group","name":"Recent Yield Updates","tab":"9dab1362.23e0b","order":3,"disp":true,"width":"8","collapse":false},{"id":"6ba7b20d.74bc8c","type":"ui_group","name":"Enter Yield Updates","tab":"9dab1362.23e0b","order":4,"disp":true,"width":"4","collapse":false},{"id":"987cdaa2.476aa8","type":"ui_spacer","name":"spacer","group":"ec617216.ee47b","order":2,"width":1,"height":1},{"id":"1b214600.17935a","type":"ui_group","name":"Default","tab":"b8fb94f4.0d31d8","order":1,"disp":true,"width":"12","collapse":false},{"id":"b8fb94f4.0d31d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c925f0a1.c2066","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"1dc1bd51.335af3","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":160,"wires":[]},{"id":"efa71ca4.ee771","type":"comment","z":"88f72503.c1d3d8","name":"Store Input data from desktop user inputs","info":"","x":380,"y":40,"wires":[]},{"id":"5f76a67a.8872d8","type":"link in","z":"88f72503.c1d3d8","name":"link in from form input","links":["5ccaba5c.5f84e4"],"x":195,"y":120,"wires":[["ee3af583.488e88"]]},{"id":"b1574772.de8648","type":"cloudant out","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"data","service":"zero-hunger-kit-cloudant-1614911294117-3863","payonly":true,"operation":"insert","x":530,"y":120,"wires":[]},{"id":"ee3af583.488e88","type":"function","z":"88f72503.c1d3d8","name":"data transform/clense","func":"msg.payload.updated = Math.floor(new Date().getTime()/1000);\nreturn msg;//","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["1dc1bd51.335af3","b1574772.de8648"]]},{"id":"df0d0f40.294ee8","type":"inject","z":"f9cb4e1f.49d58","d":true,"name":"Inject SMS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":150,"y":260,"wires":[["f199165a.d342e8"]]},{"id":"6d5e1b0c.c38fe4","type":"link in","z":"f9cb4e1f.49d58","name":"Telstra SMS Send","links":[],"x":95,"y":320,"wires":[["f199165a.d342e8"]]},{"id":"69ee1395.b411b4","type":"function","z":"f9cb4e1f.49d58","name":"Send SMS","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/sms\"\nmsg.payload = {\n    'to': msg.smsout.to,\n    'body': msg.smsout.body\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":400,"wires":[["faa38b3.f674f78"]]},{"id":"f199165a.d342e8","type":"function","z":"f9cb4e1f.49d58","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'INSERT_HERE',\n    'client_secret': 'INSERT_HERE',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":320,"wires":[["2e056d86.9bcbd2"]]},{"id":"4c7cb7ea.454178","type":"comment","z":"f9cb4e1f.49d58","name":"TelstraDev SMS","info":"","x":340,"y":200,"wires":[]},{"id":"2e056d86.9bcbd2","type":"http request","z":"f9cb4e1f.49d58","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":320,"wires":[["56beef23.e96bb"]]},{"id":"faa38b3.f674f78","type":"http request","z":"f9cb4e1f.49d58","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":400,"wires":[["799e299a.e34728"]]},{"id":"799e299a.e34728","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":400,"wires":[]},{"id":"56beef23.e96bb","type":"json","z":"f9cb4e1f.49d58","name":"","property":"payload","action":"","pretty":false,"x":570,"y":320,"wires":[["71ce03b0.16146c","69ee1395.b411b4"]]},{"id":"71ce03b0.16146c","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"71f301e5.36dca","type":"inject","z":"88f72503.c1d3d8","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":660,"wires":[["111a6005.e426e"]]},{"id":"111a6005.e426e","type":"twc-daily-forecast","z":"88f72503.c1d3d8","d":true,"name":"","range":"daily","locationtype":"geocode","location":"","lang":"en-US","units":"e","apikey":"","x":420,"y":660,"wires":[["750fed0.6c0db14","e7668d69.0e7ff"]]},{"id":"750fed0.6c0db14","type":"debug","z":"88f72503.c1d3d8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":700,"wires":[]},{"id":"10573e0d.2b0082","type":"comment","z":"88f72503.c1d3d8","name":"The Weather Company","info":"","x":420,"y":580,"wires":[]},{"id":"e7668d69.0e7ff","type":"cloudant out","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"database","service":"zero-hunger-kit-cloudant-1614911294117-3863","payonly":false,"operation":"insert","x":640,"y":660,"wires":[]},{"id":"7980e387.69e24c","type":"comment","z":"f9cb4e1f.49d58","name":"Twilio SMS","info":"","x":320,"y":460,"wires":[]},{"id":"df09ecfc.8fc9d","type":"twilio out","z":"f9cb4e1f.49d58","d":true,"twilio":"","twilioType":"sms","url":"","number":"","name":"","x":470,"y":520,"wires":[]},{"id":"bde0f521.869358","type":"link in","z":"f9cb4e1f.49d58","name":"Twilio SMS Send","links":[],"x":195,"y":520,"wires":[["fa367243.0a062"]]},{"id":"fa367243.0a062","type":"function","z":"f9cb4e1f.49d58","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":520,"wires":[["df09ecfc.8fc9d"]]},{"id":"a541d304.c621a","type":"ui_worldmap","z":"4c5f72d.4b35f8c","group":"d38f81c1.07894","order":0,"width":"0","height":"0","name":"","lat":"","lon":"","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":540,"y":140,"wires":[]},{"id":"8c66e209.4f027","type":"comment","z":"f9cb4e1f.49d58","name":"SMS Webhook","info":"Create webhook for SMS into platform to send a response back ","x":340,"y":60,"wires":[]},{"id":"37b19aab.82e226","type":"http in","z":"f9cb4e1f.49d58","name":"","url":"/sms","method":"post","upload":false,"swaggerDoc":"","x":240,"y":120,"wires":[["cbf57122.8bc7a"]]},{"id":"cbf57122.8bc7a","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":120,"wires":[]},{"id":"d5f93f2a.e0a5b","type":"ui_template","z":"4c5f72d.4b35f8c","group":"ec617216.ee47b","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <h2>Current Weather for {{msg.payload.location}}</h2>\n    <table>\n        <tr>\n            <td>Temp</td>\n            <td><b>{{msg.payload.tempc}}&#176;C</b></td>\n        </tr>\n        <tr>\n            <td>Humidity</td>\n            <td><b>{{msg.payload.humidity}}%</b></td>\n        </tr>\n        <tr>\n            <td>Windspeed</td>\n            <td><b>{{msg.payload.windspeed}}m/sec</b></td>\n        </tr>\n        <tr>\n            <td>Sunrise</td>\n            <td><b>{{msg.payload.sunrise}}</b></td>\n        </tr>\n        <tr>\n            <td>Sunset</td>\n            <td><b>{{msg.payload.sunset}}</b></td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":540,"y":200,"wires":[[]]},{"id":"87967448.0b6288","type":"inject","z":"88f72503.c1d3d8","name":"Get location data","props":[{"p":"location","v":"{\"lat\":20.8070715,\"lon\":107.118502}","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":230,"y":440,"wires":[["e595e2b1.3ce35"]]},{"id":"e595e2b1.3ce35","type":"openweathermap","z":"88f72503.c1d3d8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":410,"y":480,"wires":[["18d99790.a50328"]]},{"id":"18d99790.a50328","type":"function","z":"88f72503.c1d3d8","name":"Sunrise/sunset timestamp convert","func":"var sunRise = new Date((msg.payload.sunrise+msg.data.timezone)*1000);\nmsg.payload.sunrise = sunRise.toUTCString();\n\nvar sunSet = new Date((msg.payload.sunset+msg.data.timezone)*1000);\nmsg.payload.sunset = sunSet.toUTCString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":520,"wires":[["2d3e270f.99a068","ba7c5b92.454c18"]]},{"id":"e07e8c3a.8490b","type":"comment","z":"88f72503.c1d3d8","name":"Open Weather Map","info":"Open the inject node below and update the needed longtitude and latitude in the json","x":410,"y":380,"wires":[]},{"id":"2d3e270f.99a068","type":"link out","z":"88f72503.c1d3d8","name":"output to desktop","links":["6d1d1023.ee998"],"x":795,"y":520,"wires":[]},{"id":"ba7c5b92.454c18","type":"debug","z":"88f72503.c1d3d8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"6d1d1023.ee998","type":"link in","z":"4c5f72d.4b35f8c","name":"Map & Weather data","links":["2d3e270f.99a068"],"x":335,"y":160,"wires":[["a541d304.c621a","d5f93f2a.e0a5b"]]},{"id":"31cc8fb0.46402","type":"comment","z":"4c5f72d.4b35f8c","name":"Link data for Map and Weather","info":"","x":440,"y":80,"wires":[]},{"id":"48fd50a0.e9fa6","type":"comment","z":"4c5f72d.4b35f8c","name":"Data display and form input","info":"","x":460,"y":280,"wires":[]},{"id":"28d9d452.a3c0bc","type":"inject","z":"4c5f72d.4b35f8c","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"[{\"Date\":\"17/03/2021 09:00:00\",\"Update\":\"Rain during the day, crops are watered\"},{\"Date\":\"18/03/2021 09:00:00\",\"Update\":\"Crops starting to sprout\"}]","payloadType":"json","x":350,"y":340,"wires":[["3136a75d.dd6998"]]},{"id":"3136a75d.dd6998","type":"ui_table","z":"4c5f72d.4b35f8c","group":"4b15af72.7c5fc","name":"data table ","order":1,"width":"8","height":"5","columns":[],"outputs":0,"cts":false,"x":620,"y":380,"wires":[]},{"id":"d5565cd7.e9fd","type":"ui_form","z":"4c5f72d.4b35f8c","name":"","label":"","group":"6ba7b20d.74bc8c","order":2,"width":0,"height":0,"options":[{"label":"Enter Update","value":"dataYield","type":"text","required":true,"rows":null}],"formValue":{"dataYield":""},"payload":"","submit":"submit","cancel":"","topic":"y1","topicType":"msg","splitLayout":"","x":470,"y":500,"wires":[["48cbbd85.8f5724","5ccaba5c.5f84e4","20ae2a41.88cc56"]]},{"id":"48cbbd85.8f5724","type":"debug","z":"4c5f72d.4b35f8c","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":540,"wires":[]},{"id":"4602c128.331b9","type":"inject","z":"4c5f72d.4b35f8c","name":"clear the form","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":280,"y":500,"wires":[["d5565cd7.e9fd"]]},{"id":"5ccaba5c.5f84e4","type":"link out","z":"4c5f72d.4b35f8c","name":"","links":["5f76a67a.8872d8"],"x":635,"y":500,"wires":[]},{"id":"20ae2a41.88cc56","type":"change","z":"4c5f72d.4b35f8c","name":"clear form after submit","rules":[{"t":"set","p":"payload.dataYield","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":600,"wires":[["d5565cd7.e9fd","be5b8b8a.326458"]]},{"id":"23291aa6.456186","type":"comment","z":"88f72503.c1d3d8","name":"populate table data ","info":"","x":410,"y":220,"wires":[]},{"id":"bc6ad719.b4d328","type":"link in","z":"4c5f72d.4b35f8c","name":"table load","links":["d746c99b.414958"],"x":315,"y":380,"wires":[["9dc17295.e728f"]]},{"id":"a40bdd75.deb53","type":"inject","z":"88f72503.c1d3d8","name":"trigger first data load","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.3","topic":"","payload":"{\"limit\":7,\"sort\":[{\"updated\":\"desc\"}]}","payloadType":"json","x":220,"y":260,"wires":[["dfa475ce.261d78"]]},{"id":"d746c99b.414958","type":"link out","z":"88f72503.c1d3d8","name":"table data","links":["bc6ad719.b4d328"],"x":615,"y":280,"wires":[]},{"id":"dfa475ce.261d78","type":"cloudant in","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"data","service":"zero-hunger-kit-cloudant-1614911294117-3863","search":"_all_","design":"","index":"","x":480,"y":280,"wires":[["d746c99b.414958","f33357b4.b0eb08"]]},{"id":"6bd40761.c56178","type":"debug","z":"4c5f72d.4b35f8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":340,"wires":[]},{"id":"f33357b4.b0eb08","type":"debug","z":"88f72503.c1d3d8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":340,"wires":[]},{"id":"9dc17295.e728f","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"msg.dStore = msg.payload;\nmsg.payload = [];\n\nmsg.payload = msg.dStore.map(element => {\n    \n    var dt = new Date(element.updated*1000);\n\n    return {\n        \"Updated\": dt.toUTCString(),\n        \"Yield Update\": element.dataYield\n    };\n});\n\n// msg.ui_control.tabulator.colums[{field:'Updated', sort:'desc'}];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":380,"wires":[["3136a75d.dd6998","6bd40761.c56178"]]},{"id":"8586f93.4651d08","type":"link out","z":"4c5f72d.4b35f8c","name":"clear table","links":["76abe502.0f6c0c"],"x":695,"y":600,"wires":[]},{"id":"76abe502.0f6c0c","type":"link in","z":"4c5f72d.4b35f8c","name":"table clear","links":["8586f93.4651d08"],"x":515,"y":420,"wires":[["3136a75d.dd6998","3ae09c0.f039c64"]]},{"id":"722256d7.d5f318","type":"link in","z":"88f72503.c1d3d8","name":"refresh table data","links":["3ae09c0.f039c64"],"x":135,"y":320,"wires":[["1b140a95.c7f195"]]},{"id":"1b140a95.c7f195","type":"function","z":"88f72503.c1d3d8","name":"refresh table ","func":"msg.payload = {\n    \"limit\": 7,\n    \"sort\": [\n        {\n            \"updated\": \"desc\"\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":320,"wires":[["dfa475ce.261d78"]]},{"id":"3ae09c0.f039c64","type":"link out","z":"4c5f72d.4b35f8c","name":"refresh data","links":["722256d7.d5f318"],"x":575,"y":420,"wires":[]},{"id":"be5b8b8a.326458","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":600,"wires":[["8586f93.4651d08"]]}]
