lab/zero-hunger-node-red-flows.json
[{"id":"88f72503.c1d3d8","type":"tab","label":"Data Flow","disabled":false,"info":""},{"id":"f9cb4e1f.49d58","type":"tab","label":"Interfaces","disabled":false,"info":""},{"id":"4c5f72d.4b35f8c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"d38f81c1.07894","type":"ui_group","name":"Dashboard","tab":"9dab1362.23e0b","order":1,"disp":false,"width":"12","collapse":false},{"id":"9dab1362.23e0b","type":"ui_tab","name":"Solution Starter Kit Hunger 2021","icon":"dashboard","disabled":false,"hidden":false},{"id":"92ee2fa5.8c85b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ec617216.ee47b","type":"ui_group","name":"","tab":"9dab1362.23e0b","order":2,"disp":false,"width":"12","collapse":false},{"id":"1dc1bd51.335af3","type":"debug","z":"88f72503.c1d3d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"efa71ca4.ee771","type":"comment","z":"88f72503.c1d3d8","name":"Store Input data from desktop user inputs","info":"","x":380,"y":120,"wires":[]},{"id":"5f76a67a.8872d8","type":"link in","z":"88f72503.c1d3d8","name":"link in from form input","links":[],"x":195,"y":200,"wires":[["ee3af583.488e88"]]},{"id":"b1574772.de8648","type":"cloudant out","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"database","service":"zero-hunger-kit-cloudant-1614911294117-3863","payonly":false,"operation":"insert","x":560,"y":200,"wires":[]},{"id":"ee3af583.488e88","type":"function","z":"88f72503.c1d3d8","name":"data transform/clense","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":200,"wires":[["1dc1bd51.335af3","b1574772.de8648"]]},{"id":"df0d0f40.294ee8","type":"inject","z":"f9cb4e1f.49d58","d":true,"name":"Inject SMS","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":210,"y":480,"wires":[["f199165a.d342e8"]]},{"id":"6d5e1b0c.c38fe4","type":"link in","z":"f9cb4e1f.49d58","name":"Telstra SMS Send","links":[],"x":155,"y":540,"wires":[["f199165a.d342e8"]]},{"id":"69ee1395.b411b4","type":"function","z":"f9cb4e1f.49d58","name":"Send SMS","func":"msg.headers = {\n    'Authorization': 'Bearer ' + msg.payload.access_token,\n    'Content-Type': 'application/json'\n};\nmsg.url = \"https://tapi.telstra.com/v2/messages/sms\"\nmsg.payload = {\n    'to': msg.smsout.to,\n    'body': msg.smsout.body\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":620,"wires":[["faa38b3.f674f78"]]},{"id":"f199165a.d342e8","type":"function","z":"f9cb4e1f.49d58","name":"Get a token","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded'\n};\nmsg.url = \"https://tapi.telstra.com/v2/oauth/token\"\nmsg.payload = {\n    'client_id': 'INSERT_HERE',\n    'client_secret': 'INSERT_HERE',\n    'grant_type': 'client_credentials'\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":540,"wires":[["2e056d86.9bcbd2"]]},{"id":"4c7cb7ea.454178","type":"comment","z":"f9cb4e1f.49d58","name":"TelstraDev SMS","info":"","x":400,"y":380,"wires":[]},{"id":"2e056d86.9bcbd2","type":"http request","z":"f9cb4e1f.49d58","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":540,"wires":[["56beef23.e96bb"]]},{"id":"faa38b3.f674f78","type":"http request","z":"f9cb4e1f.49d58","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":620,"wires":[["799e299a.e34728"]]},{"id":"799e299a.e34728","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":620,"wires":[]},{"id":"56beef23.e96bb","type":"json","z":"f9cb4e1f.49d58","name":"","property":"payload","action":"","pretty":false,"x":630,"y":540,"wires":[["71ce03b0.16146c","69ee1395.b411b4"]]},{"id":"71ce03b0.16146c","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":540,"wires":[]},{"id":"71f301e5.36dca","type":"inject","z":"88f72503.c1d3d8","d":true,"name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":460,"wires":[["111a6005.e426e"]]},{"id":"111a6005.e426e","type":"twc-daily-forecast","z":"88f72503.c1d3d8","d":true,"name":"","range":"daily","locationtype":"geocode","location":"","lang":"en-US","units":"e","apikey":"","x":400,"y":460,"wires":[["750fed0.6c0db14","e7668d69.0e7ff"]]},{"id":"750fed0.6c0db14","type":"debug","z":"88f72503.c1d3d8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]},{"id":"10573e0d.2b0082","type":"comment","z":"88f72503.c1d3d8","name":"*Need TWC API","info":"","x":400,"y":380,"wires":[]},{"id":"e7668d69.0e7ff","type":"cloudant out","z":"88f72503.c1d3d8","name":"","cloudant":"","database":"database","service":"zero-hunger-kit-cloudant-1614911294117-3863","payonly":false,"operation":"insert","x":620,"y":460,"wires":[]},{"id":"7980e387.69e24c","type":"comment","z":"f9cb4e1f.49d58","name":"Twilio SMS","info":"","x":400,"y":720,"wires":[]},{"id":"df09ecfc.8fc9d","type":"twilio out","z":"f9cb4e1f.49d58","d":true,"twilio":"","twilioType":"sms","url":"","number":"","name":"","x":550,"y":820,"wires":[]},{"id":"bde0f521.869358","type":"link in","z":"f9cb4e1f.49d58","name":"Twilio SMS Send","links":[],"x":275,"y":820,"wires":[["fa367243.0a062"]]},{"id":"fa367243.0a062","type":"function","z":"f9cb4e1f.49d58","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":820,"wires":[["df09ecfc.8fc9d"]]},{"id":"a8c0e8d.cc3c018","type":"comment","z":"f9cb4e1f.49d58","name":"@Michelle","info":"Need some api keys please","x":400,"y":420,"wires":[]},{"id":"709f819.906e58","type":"comment","z":"f9cb4e1f.49d58","name":"SMS API access","info":"@philnash sending over some keys from Twilio","x":400,"y":760,"wires":[]},{"id":"58cdf2a8.46903c","type":"comment","z":"88f72503.c1d3d8","name":"@dave","info":"Can we please get TWC API access? \n\nIf not ill just hook up to something opensource weather ","x":400,"y":420,"wires":[]},{"id":"7edf5e6.5a0daa","type":"debug","z":"4c5f72d.4b35f8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":160,"wires":[]},{"id":"a541d304.c621a","type":"ui_worldmap","z":"4c5f72d.4b35f8c","group":"d38f81c1.07894","order":0,"width":"0","height":"0","name":"","lat":"20.8070715","lon":"107.118502","zoom":"12","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":530,"y":120,"wires":[]},{"id":"c39dc4bd.baa0c8","type":"openweathermap","z":"4c5f72d.4b35f8c","name":"","wtype":"current","lon":"107.118502","lat":"20.8070715","city":"","country":"","language":"en","x":450,"y":200,"wires":[["415bc8b3.f968d8"]]},{"id":"d1bf6472.8b07f8","type":"inject","z":"4c5f72d.4b35f8c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Cua Van\",\"lat\":20.8070715,\"lon\":107.118502}","payloadType":"json","x":180,"y":120,"wires":[["a541d304.c621a","82721ba3.1e6a78"]]},{"id":"82721ba3.1e6a78","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":200,"wires":[["c39dc4bd.baa0c8"]]},{"id":"8c66e209.4f027","type":"comment","z":"f9cb4e1f.49d58","name":"SMS Webhook","info":"Create webhook for SMS into platform to send a response back ","x":360,"y":120,"wires":[]},{"id":"37b19aab.82e226","type":"http in","z":"f9cb4e1f.49d58","name":"","url":"/sms","method":"get","upload":false,"swaggerDoc":"","x":260,"y":180,"wires":[["cbf57122.8bc7a"]]},{"id":"cbf57122.8bc7a","type":"debug","z":"f9cb4e1f.49d58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":180,"wires":[]},{"id":"14711811.215088","type":"link out","z":"f9cb4e1f.49d58","name":"","links":[],"x":475,"y":240,"wires":[]},{"id":"415bc8b3.f968d8","type":"function","z":"4c5f72d.4b35f8c","name":"","func":"var sunRise = new Date(msg.payload.sunrise+msg.data.timezone);\nmsg.payload.sunrise = sunRise.toUTCString();\n\nvar sunSet = new Date(msg.payload.sunset);\nmsg.payload.sunset = sunSet.toUTCString();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["7edf5e6.5a0daa","d5f93f2a.e0a5b"]]},{"id":"d5f93f2a.e0a5b","type":"ui_template","z":"4c5f72d.4b35f8c","group":"ec617216.ee47b","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <h2>Current Weather for {{msg.payload.location}}</h2>\n    <table>\n        <tr>\n            <td>Temp</td>\n            <td><b>{{msg.payload.tempc}}&#176;C</b></td>\n        </tr>\n        <tr>\n            <td>Humidity</td>\n            <td><b>{{msg.payload.humidity}}</b></td>\n        </tr>\n        <tr>\n            <td>Windspeed</td>\n            <td><b>{{msg.payload.windspeed}}</b></td>\n        </tr>\n        <tr>\n            <td>Sunrise</td>\n            <td><b>{{msg.payload.sunrise}}</b></td>\n        </tr>\n        <tr>\n            <td>Sunset</td>\n            <td><b>{{msg.payload.sunset}}</b></td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":780,"y":200,"wires":[[]]}]